<template>
  <v-container class="pa-6" fluid>
    <v-data-iterator
      :items="items"
      :items-per-page.sync="itemsPerPage"
      :page="page"
      :search="search"
      :sort-by="sortBy.toLowerCase()"
      :sort-desc="sortDesc"
      hide-default-footer
    >
      <template v-slot:header>
        <v-toolbar dark color="blue darken-3" class="mb-1">
          <v-text-field
            v-model="search"
            clearable
            flat
            solo-inverted
            hide-details
            label="Buscar"
          ></v-text-field>
          <template v-if="$vuetify.breakpoint.mdAndUp">
            
            <v-spacer></v-spacer>
            <v-btn-toggle v-model="sortDesc" mandatory>
              <v-btn large depressed color="blue" :value="false">
                <v-icon>mdi-arrow-up</v-icon>
              </v-btn>
              <v-btn large depressed color="blue" :value="true">
                <v-icon>mdi-arrow-down</v-icon>
              </v-btn>
            </v-btn-toggle>
          </template>
        </v-toolbar>
      </template>
      <template v-slot:default="props">
        <v-row class="justify-space-around">
          <v-col
            v-for="item in props.items"
            :key="item.name"
            cols="12"
            sm="6"
            md="4"
            lg="3"
          >
            <v-card>
              <v-row class="align-center">
                <v-col md="6">
                  <v-card-title class="subheading font-weight-bold">
                    {{ item.name }}
                  </v-card-title>
                </v-col>
                <v-col class="text-end" md="3">
                  <v-btn class="white--text" color="#1976D2" @click="abrirModal(item.name)"
                    >Ver detalles</v-btn
                  >
                </v-col>
              </v-row>
              <v-divider></v-divider>
              
            </v-card>
          </v-col>
        </v-row>
      </template>
      <template v-slot:footer>
        <v-row class="mt-2" align="center" justify="center">
          <span class="grey--text">Items per page</span>
          <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                dark
                text
                color="primary"
                class="ml-2"
                v-bind="attrs"
                v-on="on"
              >
                {{ itemsPerPage }}
                <v-icon>mdi-chevron-down</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item
                v-for="(number, index) in itemsPerPageArray"
                :key="index"
                @click="updateItemsPerPage(number)"
              >
                <v-list-item-title>{{ number }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
          <v-spacer></v-spacer>
          <span class="mr-4 grey--text"
            >Page {{ page }} of {{ numberOfPages }}</span
          >
          <v-btn
            fab
            dark
            color="blue darken-3"
            class="mr-1"
            @click="formerPage"
          >
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
          <v-btn fab dark color="blue darken-3" class="ml-1" @click="nextPage">
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </v-row>
      </template>
    </v-data-iterator>
    <v-dialog max-width="500" v-model="dialog">
      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>{{
          pokemon.name
        }}</v-card-title>
        <v-card-text>
          <v-container>
            <v-row class="d-flex flex-row justify-center">
              <img :src="imagenPokemon" alt="avatar" />
            </v-row>
            <v-row>
              <v-text-field readonly
                dense
                v-model="pokemon.name"
                label="Nombre"
                outlined
                type="text"
              ></v-text-field>
            </v-row>
            <v-row>
              <v-col>
                <v-list disabled>
                  <v-subheader>Habilidades</v-subheader>
                  <v-list-item-group v-model="item" color="primary">
                    <v-list-item
                      v-for="(item, i) in pokemon.abilities"
                      :key="i"
                    >
                      <v-list-item-content>
                        <v-list-item-title
                          v-text="item.ability.name"
                        ></v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </v-col>
              <v-col>
                <v-list disabled>
                  <v-subheader>Tipos</v-subheader>
                  <v-list-item-group v-model="item" color="primary">
                    <v-list-item
                      v-for="(item, i) in pokemon.types"
                      :key="i"
                    >
                      <!--           <v-list-item-icon>
            <v-icon v-text="item"></v-icon>
          </v-list-item-icon> -->
                      <v-list-item-content>
                        <v-list-item-title
                          v-text="item.type.name"
                        ></v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="dialog = false">Cerrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
import axios from "axios";
import { PokemonModel } from "../model";
export default {
  created() {
    axios
      .get("https://pokeapi.co/api/v2/pokemon")
      .then((response) => {
        response.data.results.forEach((element) => {
          let obj = {};
          let img = this.get_picture(element.name);
          obj = {
            name: element.name,
            image: Promise.resolve(img),
          };
          console.log("OBJ", obj);
          this.items.push(obj);
        });
      })
      .catch((error) => {
        console.log(error);
      });
  },
  data() {
    return {
      itemsPerPageArray: [4, 8, 12],
      search: "",
      filter: {},
      sortDesc: false,
      page: 1,
      itemsPerPage: 3,
      sortBy: "name",
      keys: ["Name"],
      items: [],
      imagenPokemon: null,
      dialog: false,
      pokemonActual: null,
      pokemon: PokemonModel.newPokemon(),
    };
  },
  computed: {
    numberOfPages() {
      return Math.ceil(this.items.length / this.itemsPerPage);
    },
    filteredKeys() {
      return this.keys.filter((key) => key !== `Name`);
    },
  },
  methods: {
    nextPage() {
      if (this.page + 1 <= this.numberOfPages) this.page += 1;
    },
    formerPage() {
      if (this.page - 1 >= 1) this.page -= 1;
    },
    updateItemsPerPage(number) {
      this.itemsPerPage = number;
    },
    async get_pokemon(pokemon) {
      await axios
        .get("https://pokeapi.co/api/v2/pokemon/" + pokemon)
        .then((response) => {
          this.pokemon = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    async get_picture(pokemon) {
      await axios
        .get("https://pokeapi.co/api/v2/pokemon/" + pokemon)
        .then((response) => {
          this.imagenPokemon = response.data.sprites.front_default;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    abrirModal(item) {
      this.pokemon.name = item;
      this.get_pokemon(item);
      this.get_picture(item);
      this.dialog = !this.dialog;
    },
  },
};
</script>
